[user]
    name = Harry Roberts
    email = csswizardry@gmail.com
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true
[color "status"]
    added = green
    changed = blue
    untracked = red
[color "diff"]
    meta = yellow
    old = red
    new = green
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    # James Brown version control!
    up = push
    down = pull
    # Show number of commits from all authors.
    stats = shortlog -sn
    # Empty line between results from different files.
    # grep = "grep --break -C1 \"$1\""
[core]
    editor = vim
    excludesfile = ~/.gitignore
[push]
    default = current
