[user]
  name = Harry Roberts
  email = csswizardry@gmail.com
  signingkey = D237343A
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[color "status"]
  added = green
  changed = blue
  untracked = red
[color "diff"]
  meta = yellow
  old = red
  new = green
[log]
  # Better date formats in logs
  date = rfc
[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  # James Brown version control!
  up = push
  down = pull
  # It’s nice to be nice
  praise = blame
  who = blame
  # Set upstream tracking much faster
  publish = "! git push -u origin $(git rev-parse --abbrev-ref HEAD)"
  # Show number of commits from all authors.
  stats = shortlog -sn
  # Show detailed logs
  graph = log --graph --decorate --stat --date=iso --all
  # Show simplified logs
  overview = log --oneline --no-merges
  recap = log --oneline --no-merges --author=csswizardry@gmail.com
  # See today’s work
  today = log --since=\"00:00:00\" --all --no-merges --oneline --author=csswizardry@gmail.com
  # Empty line between results from different files.
  find = "!git grep --break -C1"
  # Show your ten most recently checked out branches
  recent = for-each-ref --count=10 --sort=-committerdate refs/heads/ --format="%(refname:short)"
  # Compare commits in one branch against another, e.g. $ git compare tkt-0021 to develop
  compare = "!f() { git log --oneline $1..$2;  }; f"
  # See which commits are on your local branch that aren’t on the remote
  local = "! git log --oneline --no-merges origin/$(git rev-parse --abbrev-ref HEAD).."
  # See which commits are on the remote that aren’t on your local branch
  upstream = "! git fetch && git log --oneline --no-merges ..origin/$(git rev-parse --abbrev-ref HEAD)"
  # Nicer diffs for prose
  wdiff = diff --word-diff
[core]
  editor = vim
  excludesfile = ~/.gitignore
  whitespace = warn
[push]
  default = current
[github]
  user = csswizardry
[ghi]
  token = !security find-internet-password -a csswizardry -s github.com -l 'ghi token' -w
[commit]
  template = /Users/harryroberts/.git-commit-template
  gpgsign = true
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[help]
  autocorrect = 1
[merge]
  tool = vimdiff
  conflictstyle = diff3
[mergetool]
  keepBackup = false
